<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mrz.searchenginefortieba"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.provider.permission.READ_HISTORY_BOOKMARKS"/>

    <application
        android:name="com.mrz.searchenginefortieba.utils.ConfigApplication"
        android:allowBackup="true"
        android:icon="@drawable/lanuncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mrz.searchenginefortieba.component.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.PostListActivity"/>
        <activity android:name="com.mrz.searchenginefortieba.PostDetailActivity"/>
        <activity android:name="com.mrz.searchenginefortieba.component.login.LoginActivity">
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.component.feedback.FeedBackActivity">
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.component.communicate.SendPost.SendPostActivity">
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.component.communicate.SubjectList.SubjectListActivity">
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.component.register.RegisterActivity">
        </activity>
        <activity android:name="com.mrz.searchenginefortieba.component.me.MeActivity">
        </activity>
    </application>

</manifest>